
// ----------------------------------
// BaseKit Rows: Stylesheet
// ----------------------------------



// -----------------------------
// 1. #SCSS Includes
// -----------------------------

$style-set-id: 'example_02' !default;
@import 'style-sets';


// Framework
@import "sass/base/bk-sass-framework";


// Rows
@import "sass/rows/row--mixins";
@import "sass/rows/row--columns";
@import "sass/rows/row--layout";
// @import "sass/rows/row--color";
@import "sass/rows/row__color--light";
@import "sass/rows/row__color--accent";
@import "sass/rows/row__color--dark";


//Base
@import "sass/base/typography";


// Widgets
@import "sass/widgets/navigation";
// @import "sass/widgets/hero";
@import "sass/widgets/gallery";
@import "sass/widgets/form";
@import "sass/widgets/social";
