

.row--light {
    background-color: $row-color-light;


    h1,h2,h3,h4,label {
        color: $row-color-dark;
    }


    p, ul, li, ol, .p-font {
        color: transparentize($row-color-dark, 0.4);
    }


    .form-group {

        &:after {
            background: transparentize($row-color-dark, 0.6);
            transition: background 0.35s ease;
        }

        &:hover,
        &:focus,
        &:active {
            &:after {
                background: transparentize($row-color-dark, 0.4);
            }
        }
    }


    input,
    input[type="search"],
    input[type="email"],
    input[type="password"],
    textarea,
    .input--single-line {
        color: transparentize($row-color-dark, 0.4);
    }


    .button {
        background-color: $row-color-accent;
        box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
        color: $row-color-light;
    }


    .navigation-list {
        background-color: $row-color-light;
    }

    .navigation-list--children {
        background-color: $row-color-light;
    }


    .navigation-item .item-name,
    .navigation-list--children {
        color: transparentize($row-color-dark, 0.4);

        &.selected,
        &:hover,
        &:focus {
            color: $row-color-dark;
        }
    }

    .navigation-list--children {
        color: transparentize($row-color-dark, 0.4);

        &.selected .item-name,
        &:hover .item-name,
        &:focus .item-name {
            color: $row-color-dark;
        }
    }


    .item-name--parent:after {
        border-top-color: lighten($row-color-dark, 25%);
    }


    .navigation-toggle,
    .navigation-toggle:before,
    .navigation-toggle:after {
        background-color: transparentize($row-color-dark, 0.4);
    }


    .social-link {
        color: $row-color-dark;
    }


    .phone-number-link {
        color: transparentize($row-color-dark, 0.4);

        @media #{$mobile} {
            background-color: $row-color-accent;
            color: $row-color-light;
        }
    }


    .row--background-type-image {

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: radial-gradient(ellipse at center, rgba(43, 43, 60, 0.1) 0%,rgba(43, 43, 60, 0.35) 70%,rgba(43, 43, 60, 0.635) 100%);
        }


        p, ul, li, ol, .p-font {
            color: lighten($row-color-dark, 65%);
        }


        .row__container {
            position: relative;
            z-index: 1;
        }
    }
}


.row--light.row--background-type-image {


    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(ellipse at center, rgba(43, 43, 60, 0.1) 0%,rgba(43, 43, 60, 0.35) 70%,rgba(43, 43, 60, 0.635) 100%);
    }


    p, ul, li, ol, .p-font {
        color: lighten($row-color-dark, 65%);
    }

    .button {
        background-color: $row-color-accent;
        color: $row-color-light;
    }


    .row__container {
        position: relative;
        z-index: 1;
    }
}
